<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="transaction">
      <h1>Make A Transaction</h1>
      <form action="/transaction" method="POST">
        <input class="UPIID" type="text" name="UPIID" placeholder="Enter the UPI ID of recipient" required>
        <input class="amount" type="number" name="amount" placeholder="Enter the Amount" required>
        <input class="UPIPIN" type="text" name="UPIPIN" placeholder="Enter the UPI PIN" required>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if success %}
            <p style="color: green;">{{ success }}</p>
            <p style="color: green;">{{ Balance }}</p>
        {% endif %}
        <button type="submit">Make Transaction</button>
      </form>
      <form action="/dashboard" method="POST">
        <button type="submit">Back to Dashboard</button>
      </form>
    </div>
</body>
</html>